<!DOCTYPE html>
<html lang="en">

  <%- include ('layouts/head'); -%>

<body>

  <!-- Navigation-->
  <%- include('layouts/nav'); -%>

  <!-- ======= Header ======= -->
  <header class="masthead" style="background-image: url('/assets/img/Dashboard.gif')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>DRIVE TEST</h1>
                    <span class="subheading">Book your Drive Test</span>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          <!-- Post preview-->
          <div class="post-preview">
              <a href="/login">
                  <h2 class="post-title">Login</h2>
                  <h3 class="post-subtitle">Check Your Account Status</h3>
              </a>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          <!-- Post preview-->
          <div class="post-preview">
              <a href="/g2_page">
                  <h2 class="post-title">G2 Test</h2>
                  <h3 class="post-subtitle">Book your G2 Test</h3></a>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
          <!-- Post preview-->
          <div class="post-preview">
              <a href="/g_page">
                  <h2 class="post-title">G Test</h2>
                  <h3 class="post-subtitle">Book your G Test</h3>
              </a>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
      
      </div>
  </div>
</div>

  <!-- ======= Footer ======= -->
  <!-- End Footer -->
  <%- include ('layouts/footer'); -%>

  <!-- Vendor JS Files -->
  
  <%- include ('layouts/script'); -%>

</body>

</html>